<app-sub-header></app-sub-header>
<div class="container-fluid">
    <div id="lCompanies" class="table-responsive-sm user-menu-table" style="padding-top:100px;">
      <h2>List of Companies</h2>
      <table class="table table-striped table-bordered" style="margin-top:50px;">
              <thead>
                <tr>
                  <th>Company Name</th>
                  <th>Stock Exchange</th>
                  <th>Description</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of companyList">
                  <td>{{item.companyName}}</td>
                  <td>{{item.stockExchanges}}</td>
                  <td>{{item.description}}</td>
                  <td><button>Edit</button></td>
                </tr>
              </tbody>
            </table>
    </div>
    <div><button class="btn btn-primary" (click)="createCompany()">New</button></div>
  </div>

