<nav class="navbar navbar-expand-md bg-primary navbar-dark fixed-top">
  <a class="navbar-brand" href="#">Stock Market</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a id="navImpData" [ngClass]="{'active': !hFlag}" class="nav-link" (click)="viewIpoDetails()">IPOs</a>
      </li>
      <li class="nav-item">
        <a id="navManageCom" [ngClass]="{'active': hFlag}" class="nav-link" (click)="compareCompany()">Compare Company</a>
      </li>
      <li class="nav-item">
        <a id="navManageExc" class="nav-link" [ngClass]="{'active': !hFlag}" (click)="compareSector()">Compare Sectors</a>
      </li>
      <li class="nav-item">
          <a id="navUpdateIpo" class="nav-link" [ngClass]="{'active': !hFlag}" (click)="other()">other</a>
        </li>
    </ul>
  </div>
  <form [formGroup]="searchForm" class="form-inline" (ngSubmit)="onSearch()">
          <input id="searchText" class="form-control mr-sm-2" type="text" placeholder="Search" formControlName="searchText">
          <button id="searchBtn" class="btn btn-success" type="submit">Search</button>
  </form>
  <div class="nav-item ml-sm-4">
      <a href="login" style="color: rgba(255,255,255,.75);text-decoration: none;">Sign Out</a>
  </div>

</nav>

